{% load static %}
<html>

        <head>
            <title> ABOUT ME</title>
            <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css"> 
                <!-- #this links the css file -->
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
                
        </head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="card card-body h-100 border-info" id="profile-wrapper">
                        <img id="profile-pic" src="{% static '/images/flower.jpg' %}"> 
                        <hr>
                        <h4> Hi ! I am Krish Manandhar</h4>
                        <p>I love coding, doing research and exploring</p>
                    </div>
                </div>
           
            
                <div class="col-md-9">
                    <div class="card card-body h-100 border-info">
                        <div class="cont">
                        <h2 class="title">
                            <span class="title-word title-word-1">Somthing</span>
                            <span class="title-word title-word-2">about</span>
                            <span class="title-word title-word-3">me</span>
                            <span class="title-word title-word-4">!</span>
                          </h2>
                        </div>
                        <p> As an individual deeply intrigued by the intricacies of computer functionality and its ability to comprehend human interactions, I sought to further my understanding by enrolling in a Bachelor's program in Information Management. Throughout this journey, I have been presented with various challenges and exciting opportunities, from developing my first "hello world" program to designing a rudimentary ecommerce webpage. My pursuit for knowledge and a comprehensive understanding of the language that computers comprehend remains unwavering, and I am eager to continue this quest with enthusiasm and vigor</p>
                        <p>I love to do research, play games and learn new things in my free time </p>
                        <ul class="social-links">
                           <a href="{% url 'home' %}"> HOME </a>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>My Experience as a Developer</h5>
					<hr>
					<p>Currently learning python with django framework in MindRisers.</p>
					<p> BIM RUNNING </p>
					</div>
                </div>
               
           
            
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>What I Know</h5>
                        <hr>
                        <p>Python, Django, HTML/CSS, JavaScript</p>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>How I Learn</h5>
                        <hr>
                        <p>Reverse Engineer & Build Ugly Prototypes First.</p>
    
                        <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="card card-body h-100">
                        <h5>My Short Term Goals</h5>
                    <hr>
                    <p> To be more capable in python and get a job ad a developer</p>
                    </div>
                </div>
            </div>
            <br>
        </div>    
    </body>



</html>